<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigcard_frame_class2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,244},{198,242}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class2_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{206,246}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1},{198,242}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class3_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,246}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigcard_frame_greenandblue.png</string>
            <key>size</key>
            <string>{407,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d651383f2ab946815db4bc4f7ea28f$</string>
            <key>textureFileName</key>
            <string>bigcard_frame_greenandblue.png</string>
        </dict>
    </dict>
</plist>
