<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigcard_frame_class4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,248},{198,242}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class4_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,248},{206,246}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class5_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1},{206,246}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bigcard_frame_class6_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,246}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{206,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigcard_frame_purpleandyellow.png</string>
            <key>size</key>
            <string>{415,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c10d215363b002da423a111ce99929$</string>
            <key>textureFileName</key>
            <string>bigcard_frame_purpleandyellow.png</string>
        </dict>
    </dict>
</plist>
